


<style>

html {
	background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('/img/bg2026.svg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "Courier New";
	font-optical-sizing: auto;
}

body {
	/*background-image: url("/img/bg.svg");*/
	font-optical-sizing: auto;
}

.main {
	position: relative;
	max-width: 1200px;
	background: white;
	min-height: 99vh;
	margin: auto;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

.header {
	background: #f6ecddff;
	width: 100%;
}

.comma {
	display: inline-block;
	width: 3px;
	background: red;
}

p.abstract-content {
	font-size: 1.15rem;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: justify;
	hyphens: auto;
	line-height: 1.40;
}

.header img {
	width: 95%;
	margin: 10px 30px;
}


.navbar {
	position: sticky;
	top: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	flex: 10%;
}

.navbar div {
	-ms-flex: 1;  /* IE 10 */
	flex: 0.6;
}

.tab {
	/*height: 60px;*/
	background-color: #3955adff;
	flex: 20%;
	padding: 26px;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	/* border-top-left-radius: 40px; */
	/* border-top-right-radius: 40px; */
	/* margin-left: 1px; */
	/* margin-right: 1px; */
	min-width: 100px;
}

div.tab:not(.active):hover {
	background-color: #486ad3ff;
	/* background-color: #c0deff; */
}

.active {
	/* background-color: #415f80; */
	background-color: #c8cef3ff;
	color: black;
	font-weight: bold;
	box-shadow: inset 0 0 0 2px #486ad3ff;
}

.placeholder {
  height: 20.8px;
}

/* DROPTOWN PODPOWIEDZIANY PRZEZ AI: */

/* Pozycjonowanie relatywne dla rodzica, aby dzieci pozycjonowały się względem niego */
.dropdown {
  position: relative;
  cursor: pointer;
}

/* Ukryty kontener z linkami */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%; /* Pokazuje menu tuż pod tabem */
  left: 0;
  width: 100%; /* Szerokość dopasowana do tabu Archive */
  background-color: #3955adff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Pewność, że menu będzie na wierzchu */
}

/* Wygląd pojedynczych linków w menu */
.dropdown-content a {
  color: white !important;
  padding: 15px 10px;
  text-decoration: none;
  display: block;
  font-size: 18px; /* Zmniejszony font dla czytelności w podmenu */
  text-transform: none; /* Wyłącza uppercase dla linków, jeśli wolisz małe litery */
  border-top: 1px solid #486ad3ff; /* Delikatne odseparowanie opcji */
}

/* Efekt hover dla linków wewnątrz rozwijanego menu */
.dropdown-content a:hover {
  background-color: #486ad3ff;
	color: white;
	text-decoration: none;
}

/* KLUCZ: Pokazywanie menu po najechaniu myszką na klasę .dropdown */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Zmiana koloru głównego tabu Archive, gdy myszka jest nad całkiem rozwiniętym menu */
.dropdown:hover {
  background-color: #486ad3ff;
}

/* koniec dropdown */

.hidden {
	display: none;
}

.content {
	padding:10px;
}

p {
	font-size: 21px;
}

li {
	font-size: 21px;
}

.workshop-item {
	margin: 15px 0;
}
.workshop-header, .abstract-header {
	background-color: #c8cef3ff;
	padding: 10px;
}

.workshop-header:hover, .abstract-header:hover {
	background-color: #d2d6f5ff;
}

.workshop-description {
	min-height: 400px;
}

.abstract-item {
	margin: 10px 0;
}

.title {
	font-size: 22px;
	font-style: italic;
	font-weight: bold;
	margin: 5px 0;

}

.author {
	font-size: 20px;
	margin: 5px 0;
	text-transform: uppercase;
}

.affiliation {
	font-size: 18px;
	margin: 5px 0;
}

.date {
	font-size: 16px;
	margin: 5px 0;
}

.abstract {
	min-height: 100px;
}

table {
	font-size: 19px;
	margin: 10px;
	padding: 10px;
}

td {
	padding: 15px;
	vertical-align: top;

}

.hour {
	font-weight: bold;
}

.linkicon {
	color: #516f90;
}

.linkicon:hover {
	cursor: pointer;
}

a:link, a:visited, a:active {
	color: rgb(81, 111, 144);
	text-decoration: none;
}

a:hover {
	color: rgb(81, 111, 144);
	text-decoration: underline;
}

#home h2 {
	margin-top: 40px;
}

a.slides::before {
	content: "[";
}

a.slides::after {
	content: "]";
}

.schedule-presenters {
	font-size: 17px;
	margin: 0;
}

.schedule-label {
	font-size: 19px;
	margin: 0;
	display: inline;
}

</style>



