


<script>
	{% include scripts/aton.js                         %}
	{% include scripts/activateTab.js                  %}
	{% include scripts/activateWorkshop.js             %}
	{% include scripts/createAbstractList.js           %}
	{% include scripts/createWorkshopList.js           %}
	{% include scripts/fillInPresentationsSchedule.js  %}
  {% include scripts/fillInWorkshopsSchedule.js      %}
	{% include scripts/formatDate.js                   %}
	{% include scripts/goToDescription.js              %}
	{% include scripts/parsePresentations.js           %}
	{% include scripts/parseWorkshops.js               %}
	{% include scripts/scrollToElement.js              %}
	{% include scripts/showTabContents.js              %}
	{% include scripts/toggleAbstract.js               %}
	{% include scripts/listeners.js                    %}
</script>
