


<head>
	<meta charset="utf-8">
	<meta name="google-site-verification" content="viRJ0KjjwwtKAVxTmSJHOznjsYohieHKV_mgXBz8Cag" />
	<meta name="description" content="Second International Digital Musicology Conference (IDMC2), 21–24 October 2026 in Kraków, Poland. Organized by the Fryderyk Chopin Institute and Jagiellonian University.">
	<title>Second International Digital Musicology Conference</title>
	<link rel="icon" type="image/x-icon" href="/img/favicon.png">
	<link rel="canonical" href="https://idmc-2026.nifc.pl/">
	<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Event",
  "name": "Second International Digital Musicology Conference",
  "startDate": "2026-10-21",
  "endDate": "2026-10-24",
  "eventStatus": "https://schema.org/EventScheduled",
  "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
  "location": {
    "@type": "Place",
    "name": "Auditorium Maximum, Jagiellonian University",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Krupnicza 33",
      "addressLocality": "Kraków",
      "postalCode": "31-123",
      "addressCountry": "PL"
    }
  },
  "organizer": [
	  {
      "@type": "Organization",
      "name": "The Fryderyk Chopin Institute",
      "url": "https://nifc.pl/"
    },
	  {
      "@type": "Organization",
      "name": "Institute of Musicology, Jagiellonian University",
      "url": "https://muzykologia.uj.edu.pl/"
	  }
	],
  "url": "https://idmc-2026.nifc.pl/"
}
</script>

	{% include styles/main.html %}
</head>
