


<h1 >Second International Digital Musicology Conference</h1>

<h2 >Invitation</h2>

<div style="margin-left: 25px;">

<p>We are pleased to announce the second edition of the biennial
<i>International Digital Musicology Conference</i>, organized by
the Fryderyk Chopin Institute, which will be held <b>21–24 October
2026</b></p>

<p>This year, thanks to the cooperation with the <b>Institute of
Musicology of the Jagiellonian University</b>, the conference will
take place in <b>Kraków</b>, at the University's venues.</p>

<p>The conference focuses on the integration of digital technologies
into musicological research, with a special emphasis on introducing
digital tools and methods to the Polish academic community, where
digital musicology has not yet been widely adopted.  The event aims
to foster the exchange of knowledge and experience by bringing
together scholars, researchers, and practitioners from various
backgrounds.</p>

<p>Key features of the conference include presentations on innovative
research projects, hands-on workshops on digital methodologies, and
discussions on the practical application of these tools in music
research. The event will bring together a mix of established experts,
emerging scholars, and participants new to digital approaches.</p>

<p>The Fryderyk Chopin Institute warmly invites representatives
from universities, music academies, research institutions, and
independent researchers to participate.</p>

</div>

<h2>Programme and Organising Committee</h2>

<ul>
<li>Marcin Konik</li>
<li>Craig Stuart Sapp</li>
<li>Benjamin Ory</li>
<li>Daniel Shanahan</li>
<li>Jacek Iwaszko</li>
<li>Marcelina Chojecka</li>
<li>Kamil Pielaciński</li>
<li>Przemysław Adamski</li>
<li>Aleksander Brunka</li>
<li>Agata Patakiewicz</li>
<li>Emilia Ziętek</li>
<li>Paweł Żochowski</li>
<li>Zofia Pańczak</li>
</ul>

<h2 >Conference Venues</h2>

<ul>
<li>
<p>
<b>Auditorium Maximum, Jagiellonian University</b><br/>
<a href="https://share.google/rRMOadCUsA9FOJNbT">Krupnicza 33, 31-123 Kraków</a> 
</p>
</li>
<li>
<p>
<b>The Fryderyk Chopin Institute's Kraków Office</b><br/>
<a href="https://share.google/87vVeOIxpTz7iMG0P">Kanonicza 5, 31-002 Kraków</a>
</li>
</ul>


<h2>Conference Hotel</h2>
<ul>
	<li>
		<p>
		<b>Campanile Prime - Krakow Old Town</b><br/>
		<a href="https://share.google/2QAHPvIaqo5vbZ8hW">Św. Tomasza 34, 31-023 Kraków</a>
		</p>
	</li>
</ul>




<iframe src="https://www.google.com/maps/d/u/2/embed?mid=1h7isD4T28nFVlEJm_hH5I-_osg1I038&ehbc=2E312F" width="100%" height="480"></iframe>