<!--
vim: ts=3:nowrap
-->


<div class="navbar">
	<div onclick="activateTab('home', 'nav-home')" id="nav-home" class="tab active">Home</div>
  <div class="tab placeholder"> </div>
  <div class="tab placeholder"> </div>
  <div class="tab placeholder"> </div>
	<!--div onclick="activateTab('schedule', 'nav-schedule')" id="nav-schedule" class="tab">Schedule</div-->
	<!--div onclick="activateTab('abstracts', 'nav-abstracts')" id="nav-abstracts" class="tab">Abstracts</div-->
	<!--div onclick="activateTab('workshops', 'nav-workshops')" id="nav-workshops" class="tab">Workshops</div-->
</div>



