<!--
vim: ts=3:nowrap
-->

<h1>Schedule</h1>

<div id="schedule-container">

	<div id="2024-10-23" class="day">
		<h2>Wednesday, 23 October 2024</h2>
		<table class="tg">
			<tbody>
				<tr>
					<td class="hour">10:00</td>
					<td class="event">Coffee and welcome<br>Marcin Konik</td>
				</tr>
				<tr data-type="presentation" data-name="sapp"></tr>
				<tr>
					<td class="hour">11:30</td>
					<td class="event">Coffee break</td>
				</tr>
				<tr data-type="presentation" data-name="iwaszko"></tr>
				<tr data-type="presentation" data-name="konik"></tr>
				<tr>
					<td class="hour">13:00</td>
					<td class="event">Lunch break</td>
				</tr>
				<tr data-type="workshop" data-name="workshop1"></tr>
				<tr>
					<td class="hour">16:00</td>
					<td class="event">Coffee break</td>
				</tr>
				<tr data-type="workshop" data-name="workshop2"></tr>
				<tr>
					<td class="hour">19:00</td>
					<td class="event">Conference dinner</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="2024-10-24" class="day">
		<h2>Thursday, 24 October 2024</h2>
		<table class="tg">
			<tbody>
				<tr data-type="presentation" data-name="shanahan"></tr>
				<tr data-type="presentation" data-name="kranenburg"></tr>
				<tr>
					<td class="hour">11:30</td>
					<td class="event">Coffee break</td>
				</tr>
				<tr data-type="presentation" data-name="dahlig-sapp"></tr>
				<tr data-type="presentation" data-name="matuszewska"></tr>
				<tr>
					<td class="hour">13:00</td>
					<td class="event">Lunch break</td>
				</tr>
				<tr data-type="workshop" data-name="workshop3"></tr>
				<tr>
					<td class="hour">16:00</td>
					<td class="event">Coffee break</td>
				</tr>
				<tr data-type="workshop" data-name="workshop4"></tr>
				<tr>
					<td class="hour">19:00</td>
					<td class="event">Recital by <a target="_blank" href="https://culture.pl/en/artist/tomasz-ritter">Tomasz Ritter</a>, fortepiano</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="2024-10-25" class="day">
		<h2>Friday, 25 October 2024</h2>
		<table class="tg">
			<tbody>
				<tr data-type="presentation" data-name="ricciardi"></tr>
				<tr data-type="presentation" data-name="ory"></tr>
				<tr data-type="presentation" data-name="rodin"></tr>
				<tr>
					<td class="hour">11:30</td>
					<td class="event">Coffee break</td>
				</tr>
				<tr data-type="presentation" data-name="lee"></tr>
				<tr data-type="presentation" data-name="bell"></tr>
				<tr>
					<td class="hour">13:00</td>
					<td class="event">Lunch break</td>
				</tr>
				<tr data-type="workshop" data-name="workshop5"></tr>
				<tr>
					<td class="hour">16:00</td>
					<td class="event">Organizational meeting</td>
				</tr>
				<tr>
					<td class="hour">16:30</td>
					<td class="event">Tour: <b><a target="_blank" href="https://muzeum.nifc.pl/en">Chopin Museum</a></b></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
